@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;

}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
	background: #263849; 
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.nav-bar { 
	background: #263849; 
    color: white;
     height: 60px;
}

.nav-bar a:hover {
	color: #35bcbf; 
}

.nav-bar .logo {
    font-size: x-large;
    font-weight: bold;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    margin-left: 20x;
}

.header {
    background: #41506b; 
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    padding-top: 10px;
}

.header img {
    max-width: 400px;
    padding: 10px 10px; 
    border-radius: 50%;
   
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .container {
display: flex;
justify-content: center; 

}

.box {
    flex: 1;
    background: #41506b;
    margin: 10px 10px;
    border-radius: 5px;
    padding: 15px 20px; 
   
}

@media (max-width: 500px) {
    .header .container {
        flex-direction: column;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}